<!DOCTYPE html>
<html lang="ko">
<th:block th:replace="fragment/headerAndFooter :: headFragment"/>
<body>
<th:block th:replace="fragment/headerAndFooter :: headerFragment"/>
<th:block th:replace="fragment/headerAndFooter :: navFragment"/>
</body>
<section></section>
<th:block th:replace="fragment/headerAndFooter :: footerFragment"/>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/home.css"/>
</head>
<body>
<header th:fragment="headerFragment" id="title">
    <h1>나라상사 고객관리 시스템</h1>
</header>
<nav th:fragment="navFragment">
    <ul>
        <li>Home</li>
        <li>주문관리</li>
        <li>결제관리</li>
        <li>로그인</li>
    </ul>
</nav>
<table class="main_table">
    <thead>
    <tr>
        <td>고객</td>
        <td>이름</td>
        <td>전화번호</td>
        <td>주소</td>
        <td>담당자명</td>
        <td>담당자연락처</td>
        <td>매출액합계(만원)</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>B001</td>
        <td>롯데상사</td>
        <td>02-222-9999</td>
        <td>서울시 영등포구</td>
        <td>홍길동</td>
        <td>010-9999-8766</td>
        <td>91000</td>
    </tr>
    <tr>
        <td>B002</td>
        <td>삼부상사</td>
        <td>02-222-9999</td>
        <td>서울시 북구</td>
        <td>이몽룡</td>
        <td>010-9999-8766</td>
        <td>91000</td>
    </tr>
    <tr>
        <td>B003</td>
        <td>롯데상사3</td>
        <td>02-222-99992</td>
        <td>서울시 영등포구4</td>
        <td>홍길동3</td>
        <td>010-99992-8766</td>
        <td>910003</td>
    </tr>
    </tbody>
</table>
</body>
</html>
